:root {
  --mainbg1: #e2e2e2;
  --mainbg2: #f0f0f0;
  --formbg: #474747;
  --linkbg: #1b1b1b;
  --linkcolor: #fff;
  --linkcolor1: #111;
  --linkhover1: #fff;
  --linkhover2: #505050;
  --linkhover3: #cecece;
  --barcolor: #111;
  --textcolor0: #f0f0f0;
  --textcolor1: #111;
  --textcolor2: #333333;
  --textcolor3: #6e6e6e;
  --textcolor5: #000;
  --currentpageindicator: #f0f0f0;
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Pangolin', serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--textcolor1);
  background-color: var(--mainbg2);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  background-color: var(--mainbg1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 1px solid gray;
  z-index: 1;
}
.logo {
  font-family: 'Amatic SC', serif;
  font-weight: 700;
  color: var(--textcolor1);
  font-size: 3rem;
  text-decoration: none;
  user-select: none;
}
.navbar {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu {
  position: fixed;
  top: 7rem;
  left: -100%;
  background-color: var(--mainbg1) ;
  opacity: 0;
  padding: 2.4rem;
  height: 100%;
  width: 100%;
  z-index: 2;
  pointer-events: none;
  transition: 0.2s ease-in-out;
  overflow-y: auto;
}
.nav-menu.active {
  pointer-events: unset;
  left: 0;
  opacity: 1;
}
.nav-title {
  font-size: 2.4rem;
  font-weight: 700;
}
.nav-title:not(:nth-child(1)) {
  margin-top: 3rem;
}
.nav-itm-ctn {
  margin-top: 0.4rem;
}
.nav-item {
  list-style: none;
  padding: 0.7rem;
}
.nav-item:hover {
  background-color: var(--linkbg);
  border-radius: 1.4rem;
}
.nav-item.active-page-bg {
  background-color: var(--linkbg);
  border-radius: 1.4rem;
}
.nav-item:hover .nav-link,
.nav-item:hover .project-link-name {
  color: var(--linkhover1);
}
.nav-item:hover .project-link-info {
  color: var(--linkhover3);
}
.nav-link {
  color: var(--textcolor2);
  text-decoration: none;
  line-height: 2rem;
  display: block;
}
.nav-link.active-page {
  color: var(--linkhover1);
}
.project-link-info {
  font-size: 1.7rem;
  color: var(--textcolor3);
}
.nav-link:is(:link, :active, :visited).active-page::before {
  color: var(--currentpageindicator);
}
/* footer in navigation menu */
.nav-row-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10rem;
}
.made-with-love {
  font-size: 1.2rem;
  color: var(--textcolor2);
  vertical-align: middle;
}
.love {
  font-family: 'Amatic SC', serif;
  font-weight: 700;
  font-size: 1.7rem;
}
.nav-social {
  font-size: 2rem;
}
.nav-social a {
  color: var(--linkcolor1);
  text-decoration: none;
  margin: auto 0.2rem;
}
.nav-social a:hover, .nav-social a:focus {
  color: var(--linkhover2);
}
/* navigation hamburger design */
.mobile-menu {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 4px auto;
  background-color: var(--barcolor);
  border-radius: 2px;
  transition: 0.3s ease-in-out;
}
.mobile-menu {
  display: block;
}
.mobile-menu.active .bar:nth-child(2) {
  opacity: 0;
}
.mobile-menu.active .bar:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.mobile-menu.active .bar:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}



/* MAIN */
section {
  position: relative;
  height: 100vh;
}
.bg-1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2)), url(/assets/images/static/background-cover-1.jpg);
}
.background-cover {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: blur(0.5px) brightness(70%) contrast(90%);
  pointer-events: none;
  user-select: none;
}
.intro {
  position: absolute;
  left: 2rem;
  bottom: 3rem;
}
.my-name {
  font-family: 'Amatic SC', serif;
  font-weight: 700;
  font-size: 7rem;
  color: var(--textcolor0);
}
.tagline {
  font-size: 1.9rem;
  color: var(--textcolor0);
}



/* LINK CARDS */
.cards {
  height: auto;
}
.crd-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  transition: filter 0.2s ease-in-out;
  padding-top: 4rem;
}
.crd-content-ctn-1,
.crd-content-ctn-2,
.crd-content-ctn-3  {
  color: var(--linkcolor);
  width: 80%;
  height: 25rem;
  position: relative;
}
.crd-title,
.crd-tagline {
  text-shadow: 2px 2px 4px #000;
}
.crd-title {
  font-size: 7rem;
  width: 100%;
}
.crd-tagline {
  font-size: 1.7rem;
  width: 100%;
}
.crd-arrow {
  font-size: 5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2rem;
  transition: 0.2s ease-in-out;
  color: var(--linkcolor);
  filter: drop-shadow( 1px 1px 2px #000);
}
.crd-1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(/assets/images/static/crd-cover-1.jpg);
}
.crd-2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(/assets/images/static/crd-cover-2.jpeg);
}



/* QUESTIONS? */
.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20rem auto;
  height: auto;
}
.got-q {
  font-family: 'Amatic SC', serif;
  font-size: 4rem;
  transition: transform 0.2s ease-in-out;
  cursor: help;
}
.got-q:hover {
  transform: rotate(7deg);
}
.q-link {
  text-decoration: none;
}
.q-link:hover {
  text-decoration: none;
  word-spacing: 1rem;
}
.got-ans {
  font-size: 3rem;
  transition: 0.2s ease-in-out;
  color: var(--linkcolor1);
}
.q-arrow {
  margin-bottom: -0.3rem;
  transition: 0.2s ease-in-out;
  color: var(--linkhover2);
}



/* FOOTER */
footer {
  margin-top: 7rem;
  border-top: 1px solid gray;
  font-size: 1.4rem;
  background-color: var(--mainbg1);
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-sml {
  font-family: 'Amatic SC', serif;
  font-weight: 700;
  font-size: 2rem;
}



/* CONTACT.HTML */
.form-container {
  margin-top: 7rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-form {
  font-family: 'Amatic SC', serif;
  font-size: 4rem;
  padding-left: 1.7rem;
  margin-bottom: 1rem;
}
.form {
  background-color: var(--formbg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.7rem;
  border: 0.1rem solid #000000;
  border-radius: 1rem;
  width: 100%;
  max-width: 60rem;
}
label,
input,
textarea {
  display: inline-block;
  width: 100%;
}
input,
textarea {
  font-family: 'Pangolin', serif;
  font-size: 1.7rem;
  padding: 1rem;
}
label {
  color: var(--textcolor0);
  font-size: 2rem;
  margin-top: 1rem;
}
textarea {
  resize: none;
  height: 17rem;
}
.contact-submit-btn {
  font-size: 1.7rem;
  padding: 1rem;
  margin-top: 1.4rem;
  width: 100%;
  transition: 0.1s ease-in-out;
  border: none;
  border-radius: 0.4rem;
  background-color: var(--linkcolor1);
  color: var(--textcolor0);
}
.contact-submit-btn:hover {
  background-color: var(--linkhover1);
  color: var(--textcolor1);
}
.form-privacy-notice {
  color: var(--textcolor0);
  margin-top: 1rem;
  font-size: 1.2rem;
}
.privacy-notice-link {
  color: var(--linkcolor);
}
.privacy-notice-link:hover {
  color: var(--linkhover4);
}






@media only screen and (min-width: 600px) {
  .crd-link {
    filter: saturate(0) blur(0.5px) brightness(90%);
  }
  .crd-link:hover {
    filter: saturate(1) blur(0) brightness(100%);
  }
  .crd-arrow {
    right: 3rem;
    opacity: 0;
  }
  .crd-link:hover .fa-arrow-right {
    right: 0;
    opacity: 1;
  }
}






/* UNDER CONSTRUCTION */
.under-construction-ctn {
  position: fixed;
  height: fit-content;
  width: 100%;
  font-size: 1.7rem;
  text-align: center;
  margin-top: 6rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  background-color: #aaaaaa;
  color: var(--textcolor1);
}

/* FORM NOT WORKING */
.form-not-working-ctn {
  font-size: 1.5rem;
  background-color: #fd5b5b;
  color: var(--textcolor0);
  width: 100%;
  padding: 1rem;
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}