*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Raleway", sans-serif;
  background-color: #22243e;
  height: 100vh;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  width: 90%;
  max-width: 45rem;
  height: auto;
  padding: 4rem 2rem;
  margin: 4rem auto;
  background-color: #e5e5e5;
  border: 0.2rem solid #000;
  border-radius: 1.4rem;
  box-shadow: #000 0.7rem 1rem 0.7rem;

}
.header-container, .footer-container {
  text-align: center;
}
form {
  padding: 1rem 2rem;
}
.form-title {
  font-size: 2.8rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
}
.form-subheading {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
}
.italicize {
  font-style: italic;
}
fieldset {
  border: none;
  border-bottom: 0.2rem solid gray;
  padding-bottom: 1.4rem;
  margin-bottom: 1rem;
}
legend, p {
  font-size: 1.4rem;
  margin: 0.7rem;
}
label {
  font-size: 1.4rem;
  display: block;
  margin: 0.7rem auto;
}
input, select, textarea {
  padding: 0.2rem 0.4rem;
  border: 0.1rem solid #000;
  border-radius: 0.3rem;
  background-color: #e5e5e5;
  font-family: "Raleway", sans-serif;
}
input:focus, select:focus, textarea:focus {
  box-shadow: #000 0.1rem 0.1rem;
}
option:checked {
  background-color: #22243e;
  color: #e5e5e5;
}
input[type="radio"], input[type="checkbox"] {
  accent-color: #22243e;
}
textarea {
  width: 100%;
  height: 7rem;
  resize: none;
}
input[type="submit"] {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 0.4rem 2rem;
  background-color: #22243e;
  color: #e5e5e5;
  cursor: pointer;
}
input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #e5e5e5;
  color: #000;
  transition: 0.2s;
}
a {
  color: #22243e;
}