:root {
  --text-color: #ffffff;
  --background-color: #000000;
  --box-selection-color: #ffffff;
  --box-text-color: #000000;
  --title-text: "Lato", sans-serif;
  --cursive-text: "Meddon", cursive;
  --section-title-background: #0f0c0c;
  --box-border: #000000;
  --black-icon-color: #000000;
}
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Epilogue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* top and sidebar */
header {
  position: fixed;
  width: 100vw;
  height: 10rem;
  background-color: var(--background-color);
  top: 0;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.logo, .btnNav, nav, nav li {
  color: var(--text-color);
}
.logo {
  font-size: 2rem;
  font-family: var(--title-text);
  font-weight: 900;
}
.btnNav, .btnNavClose {
  cursor: pointer;
}
.btnNav {
  font-size: 3rem;
}
.btnNavClose {
  font-size: 3rem;
  margin-left: 15rem;
}
nav {
  height: 100vh;
  width: 0;
  padding-top: 4rem;
  font-size: 2rem;
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  transition: 0.5s;
}
nav li {
  list-style: none;
  margin: 4rem 5rem;
}
nav a {
  text-decoration: none;
  color: var(--text-color);
  padding: 1rem;
}
.current-page {
  background-color: var(--box-selection-color);
  color: var(--box-text-color);
}
nav a:hover, nav a:focus {
  background-color: var(--box-selection-color);
  color: var(--box-text-color);
  transition: 0.2s;
}
#opacity-block {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  opacity: 0;
  z-index: 2;
  position: fixed;
  pointer-events: none;
  transition: 1s;
}

/* main */
main {
  padding-top: 10rem;
}
.section-title {
  background-color: var(--section-title-background);
  color: var(--text-color);
  padding: 0.7rem 0;
  padding-left: 1rem;
  margin: 1rem;
  font-size: 1.4rem;
}
.content-container {
  margin: 2rem 1.2rem 4rem;
}
/* for centered contents */
.content-container-centered {
  margin: 2rem 1.2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dev-name {
  font-size: 3.6rem;
  font-family: var(--title-text);
  font-weight: 900;
}
.description {
  font-size: 1.8rem;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  line-height: 2.4rem;
}
.center {
  text-align: center;
}
.strong {
  font-weight: bold;
}
/* for contact.html */
.center-description {
  text-align: center;
}
.main-section-title {
  background-color: var(--section-title-background);
  color: var(--text-color);
  padding: 2rem;
  font-size: 1.8rem;
  text-align: center;
  width: 100vw;
}
/* for about.html */
.dev-pfp {
  width: 20rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

/* skills */
.skills-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.skill-container {
  border: 0.2rem solid var(--box-border);
  border-radius: 1rem;
  padding: 2rem;
  width: 100%;
  max-width: 50rem;
}
.skill-title {
  font-size: 2.4rem;
  font-family: var(--title-text);
  font-weight: 900;
}
.skill-container li {
  font-size: 1.6rem;
  list-style-position: inside;
  padding: 0.6rem 0;
}
.skill-container li:nth-of-type(1) {
  margin-top: 1rem;
}

/* projects */
.project-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.project-tile img {
  width: 100%;
  max-width: 50rem;
  border: 0.4rem solid var(--box-border);
  border-radius: 1rem;
  object-fit: cover;
  transition: 0.2s;
}
.project-tile img:hover, .project-tile img:focus {
  transform: scale(0.99);
}
.all-projects-view {
  padding: 7rem;
  text-align: center;
  vertical-align: middle;
}
.project-tile .all-text {
  text-decoration: none;
  color: var(--box-text-color);
  border: 0.2rem solid var(--box-border);
  font-size: 2rem;
  padding: 2rem;
  transition: 0.2s;
}
.project-tile .all-text:hover, .project-tile .all-text:focus {
  color: var(--text-color);
  background-color: var(--background-color);
}
/* for projects.html */
.full-project-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 1.2rem 4rem;
}
.full-project-tile {
  width: 100%;
  max-width: 50rem;
}
.full-project-tile img {
  width: 100%;
  max-width: 50rem;
  border: 0.4rem solid var(--box-border);
  border-radius: 1rem;
  object-fit: cover;
  transition: 0.2s;
}
.full-project-tile img:hover, .full-project-tile img:focus {
  transform: scale(0.99);
}
.project-info {
  padding: 1.4rem;
}
.project-name {
  font-family: var(--title-text);
  font-weight: 900;
  font-size: 2rem;
}
.project-description {
  padding-top: 0.8rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

/* contactMe! */
.contact-container {
  text-align: center;
  vertical-align: center;
}
.contact-container a {
  text-decoration: none;
  color: var(--black-icon-color);
}
.email-icon {
  font-size: 7rem;
  transition: 0.2s;
}
.email-me-text {
  background-color: var(--background-color);
  color: var(--text-color);
  width: 10rem;
  padding: 1rem;
  margin: 0 auto;
  font-size: 1.6rem;
  border: 0.2rem solid var(--box-border);
  transition: 0.2s;
}
.email-icon:hover, .email-icon:focus {
  transform: scale(0.9);
}
.email-me-text:hover, .email-me-text:focus {
  background-color: unset;
  color: var(--box-text-color);
}
/* for contact.html */


/* randomArt */
code {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: fit-content;
  border: 0.4rem solid var(--box-border);
  border-radius: 1rem;
}
.your-name {
  transform: scale(0.5)
}

/* back-to-top & social-icons */
.back-to-top, .social-icons {
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.back-to-top a, .social-icons a {
  color: var(--black-icon-color);
  text-decoration: none;
  transition: 0.3s;
}
.back-to-top {
  margin-top: 4rem;
  font-size: 2rem;
}
.back-to-top a {
  padding: 2rem;
}
.back-to-top a:hover, .back-to-top a:focus{
  transform: translateY(-1rem);
}
.social-icons {
  font-size: 4rem;
}
.social-icons a:hover, .social-icons a:focus {
  transform: scale(0.9);
}

/* footer */
footer {
  width: 95%;
  margin: 2rem auto;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 2rem;
}
footer p {
  text-align: center;
}
.built-with-love {
  font-size: 1.4rem;
}
.love {
  font-family: var(--title-text);
  font-weight: 900;
  font-size: 1.8rem;
}
footer a {
  color: var(--box-text-color);
  background-color: var(--box-selection-color);
  padding: 0.2rem 0.4rem;
  font-family: var(--title-text);
  text-decoration: none;
}
.copyright {
  margin-top: 1.8rem;
  font-size: 1.8rem;
  font-family: var(--title-text);
  font-weight: 700;
}

/* media queries */
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

/* large mobile devices*/
@media only screen and (min-width: 600px) {
  /* top and sidebar */
  .btnNav, .btnNavClose {
    display: none;
  }
  nav {
    height: 100%;
    width: unset;
    padding-top: unset;
    font-size: 1.4rem;
    background-color: transparent;
    position: relative;
    top: unset;
    right: unset;
    z-index: 1;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  nav ul {
    width: inherit;
    display: flex;
    flex-direction: row;
  }
  nav li {
    margin: 1rem;
  }
  nav a {
    padding: 1rem;
  }

  /* skills */
  .skill-container {
    width: calc(50% - 1rem);
  }

  /* projects */
  .project-tile img {
    max-width: 40rem;
  }
  .all-projects-view {
    width: 40rem;
  }
  /* for projects.html */
  .full-project-tile {
    width: calc(50% - 1rem);
  }
  .full-project-tile img {
    max-width: 40rem;
  }

  /* randomArt */
  code {
    font-size: 1rem;
  }
}

/* tablets, ipads, and alike */
@media only screen and (min-width: 768px) {
  .logo {
    font-size: 2.6rem;
  }

  /* top and sidebar */
  nav {
    font-size: 1.8rem;
  }

  /* whoAmI? */
  .section-title {
    font-size: 1.6rem;
  }
  .dev-name {
    font-size: 4.2rem;
  }
  .description {
    font-size: 2rem;
    line-height: 2.8rem;
  }
  /* for projects.html */
  .main-section-title {
    font-size: 2rem;
  }
  .project-name {
    font-size: 3rem;
  }
  .project-description {
    font-size: 1.8rem;
  }
  .full-project-tile img {
    max-width: 60rem;
  }

  /* skills */
  .skill-title {
    font-size: 3rem;
  }
  .skill-container li {
    font-size: 2rem;
    padding: 0.8rem 0;
  }

  /* projects */
  .project-tile img {
    max-width: 60rem;
  }
  .project-tile .all-text {
    font-size: 2.4rem;
  }

  /* contactMe! */
  .email-icon {
    font-size: 9rem;
  }
  .email-me-text {
    width: 12rem;
    font-size: 2rem;
  }

  /* randomArt */
  code {
    font-size: 1.2rem;
  }

  /* back-to-top & social icons */
  .back-to-top {
    margin-top: 7rem;
    font-size: 2.8rem;
  }
  .back-to-top a {
    padding: 2rem;
  }
  .social-icons {
    font-size: 5rem;
    gap: 2.4rem;
  }

  footer {
    padding: 4rem;
  }
  .built-with-love {
    font-size: 1.8rem;
  }
  .love {
    font-size: 2.4rem;
  }
  footer a {
    padding: 0.4rem 0.6rem;
    font-size: 2rem;
  }
  .copyright {
    margin-top: 2.4rem;
    font-size: 2rem;
  }
}

/* laptops/desktops and bigger screens */
@media only screen and (min-width: 1024px) {
  .logo {
    font-size: 2.8rem;
  }

  /* top and sidebar */
  header {
    padding: 0 10rem;
  }
  nav {
    font-size: 2rem;
  }

  /* main */
  .content-container {
    margin: 2rem 6rem 4rem;
  }
  .content-container-centered {
    margin: 2rem 6rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* for projects.html */
  .main-section-title {
    font-size: 1.8rem;
  }
  .full-project-list {
    width: 60%;
    margin: 2rem auto 4rem;
    gap: 2rem;
  }
  .project-name {
    font-size: 2.8rem;
  }
  .project-description {
    font-size: 1.6rem;
  }

  /* whoAmI? */
  .dev-name {
    font-size: 4rem;
  }
  .description {
    line-height: 2.6rem;
  }

  /* skills */
  .skill-container {
    width: 15%;
  }
  .skill-title {
    font-size: 2.4rem;
  }

  /* projects */
  .project-tile img {
    max-width: 35rem;
    height: 50rem;
  }
  .all-projects-view {
    width: 25rem;
  }
  .project-tile .all-text {
    font-size: 2rem;
  }

  /* contactMe! */
  .email-icon {
    font-size: 8rem;
  }

  /* randomArt */
  code {
    font-size: 1rem;
  }

  /* back-to-top & social icons */
  .back-to-top {
    font-size: 2.4rem;
  }
  .back-to-top a {
    padding: 4rem;
  }
  .social-icons {
    font-size: 4rem;
  }

  /* footer */
  .built-with-love {
    font-size: 1.4rem;
  }
  .love {
    font-size: 2rem;
  }
  footer a {
    font-size: 1.6rem;
  }
  .copyright {
    margin-top: 2.8rem;
  }
}